a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(157, 255, 0);
}
.navbar{width: 98%;
    background-image: linear-gradient(to right,hsl(29, 90%, 51%),rgb(120, 15, 161));
}

.lol:hover{
    color: yellow;
}

.navbar{
    position: sticky;
}